Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  hicpp-*,
  cppcoreguidelines-*,
  misc-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -readability-magic-numbers,
  -hicpp-*magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(app|sim|scene|viz|common)/.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
